<html>
    <body>
        <h1>Successful Login! Welcome, {{user.first_name}}!</h1>
            <table class="table table-sm table-bordered">
                <tr>
                    <th>First Name:</th>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <th>Last Name:</th>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{ user.email }}</td>
                </tr>
            </table>
    </body>
</html>